<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.dylanc.loadinghelper.sample">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@drawable/ic_logo"
    android:label="@string/app_name"
    android:screenOrientation="portrait"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.ActErrorActivity" />
    <activity android:name=".ui.FragmentEmptyActivity" />
    <activity android:name=".ui.ViewPlaceholderActivity" />
    <activity android:name=".ui.ViewPagerActivity" />
    <activity android:name=".ui.RecyclerViewActivity" />
    <activity android:name=".ui.CustomHeaderActivity" />
    <activity android:name=".ui.MultipleHeaderActivity" />
    <activity android:name=".ui.ScrollingToolbarActivity" />
    <activity android:name=".ui.BottomEditorActivity"/>
  </application>

</manifest>